
:root{
   --color-accent: #2196F3;
   --color-primary:#212121;
   --color-secondary:#757575;
   --background-secondary:#2F303A;
   --color-secondary-accent:#FFFFFF;
}
body{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
}
.link{
    text-decoration: none;
}
.header-logo{  
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #000000;
}
.span-logo{
    color: #2196F3;
}
.list{
    list-style: none;
}
.header-list{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-primary);
}
.header-list:focus, .header-list:hover{
    color: var(--color-accent);
}

.header-contact{
 font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--color-secondary);
}
.header-contact:focus, .header-contact:hover{
   color: var(--color-accent); 
}
.active-link{
  color: var(--color-accent);
}
.hero{
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

  color: var(--color-secondary-accent) ;
  background-color:var(--background-secondary);
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-btn{
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--color-secondary-accent);
   background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px; 
width: 216px;
height: 50px;

}
.feature-title-hidden{
  opacity: 0;  
  font-size: 0
}
.feature-title-item{
    font-weight: 700;
line-height: 1.14;
text-transform: uppercase;

color: var(--color-primary)
}
.feature-text-item{
line-height: 1.71px;
color: var(--color-secondary)
}
.job-title{
   font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary)
}
.tean{
    background-color:#F5F4FA ;
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary);
}
.team-fio{
  font-weight: 500;
font-size: 16px;
line-height: 1.88;
color: var(--color-primary);
}
.team-text{
font-size: 16px;
line-height: 1.88;
color: var(--color-secondary);
}
.footer{
        background-color:var(--background-secondary);
}
.footer-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--color-secondary-accent);
}
.footer-adress{
font-style: normal;
line-height: 1.71;
color: var(--color-secondary-accent);  
}
.footer-contact{
line-height: 1.75;
color: rgba(255, 255, 255, 0.6); 
}
.menu-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--color-primary);
background-color: #F5F4FA;
border-radius: 4px;
border-color:#F5F4FA;
}
.menu-btn:hover,.menu-btn:focus {
color: var(--color-secondary-accent);
background-color:var(--color-accent);
}
.portfolio-item-filter{
font-size: 16px;
line-height: 1.88x;
color: var(--color-secondary);
}
.portfolio-item-project{
 font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-primary); 
}
